# Unit tests config
phpunit.xml
.travis.yml
/bin
tests/mocks/env/


# Sass cache
.sass-cache/

# Development files
themes/ras-ds/node_modules
themes/ras-ds/assets/vendor/
themes/ras-ds/assets/gulp/
themes/ras-ds/config
themes/ras-ds/gulpfile.js
themes/ras-ds/package.json

# GravityPDF output, font and tmp files
uploads/PDF_EXTENDED_TEMPLATES/output/
uploads/PDF_EXTENDED_TEMPLATES/tmp/
uploads/PDF_EXTENDED_TEMPLATES/font/
uploads/gravity_forms/

#BPS log files
bps-backup/

# Updraft backups
updraft/

.idea/
