/* -----------------------------------
variables
----------------------------------- */
/* -----------------------------------
base
----------------------------------- */
html, body {
  font-size: 16px; }

body {
  padding-bottom: 30px;
  margin: 0;
  padding: 0 0 30px;
  color: #555;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.2; }

label {
  font-weight: normal !important; }

textarea {
  height: 2.5em !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 800; }

h3, h4, h5, h6 {
  font-weight: 700; }

blockquote {
  margin: 0 0 1em 0;
  padding: 1em;
  border: 0;
  background: #eee; }

p,
li {
  line-height: 1.4; }

a:link {
  color: #86a904; }

a:visited {
  color: #668103; }

a:focus {
  color: #000; }

a:hover {
  color: #536802; }

a:active {
  color: #3f4f02; }

a:link {
  color: #CE3D20; }

a:visited {
  color: #a23019; }

a:focus {
  color: #000; }

a:hover {
  color: #8c2916; }

a:active {
  color: #762312; }

/* -----------------------------------
buttons
----------------------------------- */
.btn, .btn-primary,
.gform_button,
.gform_next_button, .btn-default,
.gform_previous_button,
.gform_save_link,
.gform_next_button,
.gform_button,
.gform_previous_button,
.gform_save_link {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 700;
  text-decoration: none; }

.btn-primary,
.gform_button,
.gform_next_button {
  color: #fff !important;
  background-color: #CE3D20;
  border-color: #CE3D20; }

.btn-primary:focus,
.gform_button:focus,
.gform_next_button:focus,
.btn-primary:active:focus,
.gform_button:active:focus,
.gform_next_button:active:focus {
  background: #000;
  border-color: #000;
  text-decoration: none; }

.btn-primary:hover,
.gform_button:hover,
.gform_next_button:hover {
  background: #a23019;
  border-color: #a23019;
  text-decoration: none; }

.btn-primary:active,
.gform_button:active,
.gform_next_button:active,
.btn-primary:active:hover,
.gform_button:active:hover,
.gform_next_button:active:hover {
  background: #762312;
  border-color: #762312;
  text-decoration: none; }

.btn-default,
.gform_previous_button,
.gform_save_link {
  color: #CE3D20;
  background-color: #fff;
  border-color: #ccc;
  box-shadow: none !important;
  text-decoration: none; }

.btn-default:visited,
.gform_previous_button:visited,
.gform_save_link:visited,
.btn-default:visited:focus,
.gform_previous_button:visited:focus,
.gform_save_link:visited:focus {
  color: #CE3D20;
  text-decoration: none; }

.btn-default:focus,
.gform_previous_button:focus,
.gform_save_link:focus,
.btn-default:active:focus,
.gform_previous_button:active:focus,
.gform_save_link:active:focus {
  color: #fff;
  background: #000;
  border-color: #000;
  text-decoration: none; }

.btn-default:hover,
.gform_previous_button:hover,
.gform_save_link:hover {
  color: #fff;
  background: #a23019;
  border-color: #a23019;
  text-decoration: none; }

.btn-default:active,
.gform_previous_button:active,
.gform_save_link:active,
.btn-default:active:hover,
.gform_previous_button:active:hover,
.gform_save_link:active:hover {
  color: #fff;
  background: #762312;
  border-color: #762312;
  text-decoration: none; }

.gform_previous_button {
  float: left; }

.gform_next_button,
.gform_button {
  float: right; }

.gform_save_link {
  float: right;
  margin-right: 10px; }

.btn-shadow {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }

.btn-italic {
  font-size: 18px;
  font-family: georgia, times, serif;
  font-style: italic;
  font-weight: normal; }

/* -----------------------------------
container
----------------------------------- */
.container-fluid {
  max-width: 966px; }

/* -----------------------------------
footer
----------------------------------- */
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 10px 0 5px;
  border-top: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }

.footer a {
  color: #555; }

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer ul li {
    padding: 0;
    margin: 0 1em 0 0;
    background: none; }

@media screen and (min-width: 930px) {
  .footer-copyright {
    text-align: right; } }
/* -----------------------------------
forms
----------------------------------- */
.gform_body ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.form-heading {
  clear: both;
  font-size: 225.00%;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 800;
  margin: 0 0 20px; }

.ginput_container_radio,
.gfield_radio,
.rasds-questions {
  display: inline !important; }

.gform_wrapper ul li.gfield {
  clear: none !important; }

.rasds-title input {
  width: 100%; }

.rasds-questions > .gfield_label {
  clear: left;
  float: left;
  border: 1px solid #ddd;
  padding: 10px;
  width: 290px;
  height: 80px;
  margin: 0;
  line-height: 1.2; }

.gfield_radio li {
  float: left;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 10px;
  width: 90px;
  text-align: center;
  height: 80px; }

.gform_wrapper .gfield_checkbox li,
.gform_wrapper .gfield_radio li {
  margin: 0 !important;
  line-height: 1 !important; }

.ginput_container input {
  height: auto !important;
  font-size: 16px !important;
  line-height: 1 !important; }

.gform_page {
  clear: both; }

.gform_wrapper .gform_page_footer {
  margin: 0 !important;
  width: 100% !important;
  border-top: 0 !important;
  clear: both; }

#gform_wrapper_1 ul.gfield_checkbox li,
#gform_wrapper_1 ul.gfield_radio li {
  padding: 10px !important; }

gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio],
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
  margin-left: 0 !important;
  line-height: 1 !important; }

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
  margin-top: 0 !important;
  line-height: 1 !important; }

.gfield_radio li:nth-child(4) {
  width: 120px; }

.rasds-comment {
  float: left;
  width: 220px;
  padding: 10px;
  height: 80px;
  border: 1px solid #ddd;
  border-left: 0; }

.rasds-comment input {
  width: 100%; }

.gfield_radio li label,
.rasds-comment label {
  position: absolute;
  left: -500em; }

#gform_wrapper_1 ul#input_1_106 li,
#gform_wrapper_1 ul#input_1_107 li {
  float: none;
  width: 100%;
  height: auto;
  display: block;
  padding: 0 0 2px 2px !important;
  border: 0;
  text-align: left; }

#input_1_106 li label,
#input_1_107 li label {
  display: block;
  position: relative;
  left: 0;
  top: -3px; }

.gfield_required {
  color: #CE3D20; }

.gform_page_footer {
  clear: both;
  padding-top: 20px; }

.rasds-headings {
  clear: both;
  font-weight: bold; }

.rasds-heading1 {
  clear: left;
  float: left;
  border: 1px solid #ddd;
  padding: 10px;
  width: 290px;
  height: 60px; }

.rasds-heading2 {
  float: left;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 10px;
  width: 90px;
  height: 60px; }

.rasds-heading5 {
  float: left;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 10px;
  width: 120px;
  height: 60px; }

.rasds-heading6 {
  float: left;
  border: 1px solid #ddd;
  border-left: 0;
  padding: 10px;
  width: 220px;
  height: 60px; }

.gform_title {
  font-size: 162.50% !important;
  margin: 0 0 1em !important;
  line-height: 1.1 !important; }

.gfield {
  clear: both;
  margin-bottom: 15px; }

.gfield_label {
  display: block; }

.gform_body .form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 0 1.5em;
  font-size: 16px !important;
  line-height: auto;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 #fff;
  box-shadow: 0 0 #fff; }

.ginput_container input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.gform_wrapper br,
.gform_body br {
  content: "" !important;
  height: 1px;
  display: block !important;
  margin: 0 !important; }

.gform_anchor {
  height: 0; }

.partial_entry_warning {
  margin: 0 !important; }

.gfield_required {
  display: none; }

.gform_wrapper {
  margin: 0 0 1em !important;
  max-width: 100% !important; }

.gform_wrapper input.medium,
.gform_wrapper select.medium {
  width: 100% !important; }

.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=email],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=password],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=tel],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=text],
.gform_wrapper .gfield_error .ginput_complex .ginput_left input[type=url],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=email],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=number],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=password],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=tel],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=text],
.gform_wrapper .gfield_error .ginput_complex .ginput_right input[type=url],
.gform_wrapper .ginput_complex input[type=email],
.gform_wrapper .ginput_complex input[type=number],
.gform_wrapper .ginput_complex input[type=password],
.gform_wrapper .ginput_complex input[type=tel],
.gform_wrapper .ginput_complex input[type=text],
.gform_wrapper .ginput_complex input[type=url] {
  width: 100% !important; }

.gform_wrapper .ginput_complex .ginput_left,
.gform_wrapper .ginput_complex .ginput_right {
  width: 100% !important; }

.gform_wrapper .hidden_label input.large,
.gform_wrapper .hidden_label select.large,
.gform_wrapper .top_label input.large,
.gform_wrapper .top_label select.large {
  width: 100% !important; }

.gform_wrapper .ginput_complex .ginput_right {
  margin-left: 0 !important; }

.gform_wrapper .top_label .gfield_label {
  margin: 0 0 5px !important; }

.gform_wrapper .gfield_date_day label,
.gform_wrapper .gfield_date_month label,
.gform_wrapper .gfield_date_year label,
.gform_wrapper .gfield_time_ampm label,
.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label,
.gform_wrapper .ginput_complex label,
.gform_wrapper .instruction {
  font-size: 16px !important;
  letter-spacing: 0 !important;
  margin: 0 0 5px !important; }

body .gform_wrapper label.gfield_label + div.ginput_container {
  margin-top: 0 !important; }

.gform_wrapper .gform_footer {
  padding: 0 !important;
  margin: 0 !important; }

#field_2_3 .gfield_label {
  display: none; }

#gform_submit_button_2,
#gform_submit_button_6 {
  float: none; }

.gform_wrapper h1,
.gform_wrapper h2,
.gform_wrapper h3 {
  font-weight: 800 !important; }

/* -----------------------------------
colors
----------------------------------- */
.c-black {
  color: #000; }

.c-white {
  color: #fff; }

.c-light-gray {
  color: #efefef; }

.c-mid-gray {
  color: #aaa; }

.c-gray {
  color: #555; }

.c-red {
  color: #CE3D20; }

.c-olive {
  color: #8EB304; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

.bg-light-gray {
  background-color: #efefef; }

.bg-mid-gray {
  background-color: #aaa; }

.bg-gray {
  background-color: #555; }

.bg-red {
  background-color: #CE3D20; }

.bg-olive {
  background-color: #8EB304; }

/* -----------------------------------
display
----------------------------------- */
.display-block {
  display: block; }

.display-hidden {
  display: hidden; }

.display-inline {
  display: inline; }

.display-inline-block {
  display: inline-block; }

.display-table {
  display: table; }

.display-table-cell {
  display: table-cell; }

.display-table-row {
  display: table-row; }

/* -----------------------------------
floats
----------------------------------- */
.float-left {
  float: left; }

.float-right {
  float: right; }

.float-none {
  float: none; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.clear-both {
  clear: both; }

.clear-none {
  clear: none; }

/* -----------------------------------
overflow
----------------------------------- */
.overflow-visible {
  overflow: visible; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

/* -----------------------------------
position
----------------------------------- */
.position-absolute {
  position: absolute; }

.position-relative {
  position: relative; }

/* -----------------------------------
margin
----------------------------------- */
.mar-0 {
  margin: 0; }

.mar-t-0 {
  margin-top: 0; }

.mar-t-1 {
  margin-top: 0.5rem; }

.mar-t-2 {
  margin-top: 1rem; }

.mar-t-3 {
  margin-top: 1.5rem; }

.mar-t-4 {
  margin-top: 2rem; }

.mar-t-5 {
  margin-top: 3rem; }

.mar-t-6 {
  margin-top: 4.5rem; }

.mar-r-0 {
  margin-right: 0; }

.mar-r-1 {
  margin-right: 0.5rem; }

.mar-r-2 {
  margin-right: 1rem; }

.mar-r-3 {
  margin-right: 1.5rem; }

.mar-r-4 {
  margin-right: 2rem; }

.mar-r-5 {
  margin-right: 3rem; }

.mar-r-6 {
  margin-right: 4.5rem; }

.mar-b-0 {
  margin-bottom: 0; }

.mar-b-1 {
  margin-bottom: 0.5rem; }

.mar-b-2 {
  margin-bottom: 1rem; }

.mar-b-3 {
  margin-bottom: 1.5rem; }

.mar-b-4 {
  margin-bottom: 2rem; }

.mar-b-5 {
  margin-bottom: 3rem; }

.mar-b-6 {
  margin-bottom: 4.5rem; }

.mar-l-0 {
  margin-left: 0; }

.mar-l-1 {
  margin-left: 0.5rem; }

.mar-l-2 {
  margin-left: 1rem; }

.mar-l-3 {
  margin-left: 1.5rem; }

.mar-l-4 {
  margin-left: 2rem; }

.mar-l-5 {
  margin-left: 3rem; }

.mar-l-6 {
  margin-left: 4.5rem; }

.mar-x-0 {
  margin-left: 0;
  margin-right: 0; }

.mar-x-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.mar-x-2 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mar-x-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.mar-x-4 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mar-x-5 {
  margin-left: 3rem;
  margin-right: 3rem; }

.mar-x-6 {
  margin-left: 4.5rem;
  margin-right: 4.5rem; }

.mar-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.mar-y-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mar-y-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mar-y-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mar-y-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mar-y-5 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mar-y-6 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

/* -----------------------------------
padding
----------------------------------- */
.pad-0 {
  padding: 0; }

.pad-t-0 {
  padding-top: 0; }

.pad-t-1 {
  padding-top: 0.5rem; }

.pad-t-2 {
  padding-top: 1rem; }

.pad-t-3 {
  padding-top: 1.5rem; }

.pad-t-4 {
  padding-top: 2rem; }

.pad-t-5 {
  padding-top: 3rem; }

.pad-t-6 {
  padding-top: 4.5rem; }

.pad-r-0 {
  padding-right: 0; }

.pad-r-1 {
  padding-right: 0.5rem; }

.pad-r-2 {
  padding-right: 1rem; }

.pad-r-3 {
  padding-right: 1.5rem; }

.pad-r-4 {
  padding-right: 2rem; }

.pad-r-5 {
  padding-right: 3rem; }

.pad-r-6 {
  padding-right: 4.5rem; }

.pad-b-0 {
  padding-bottom: 0; }

.pad-b-1 {
  padding-bottom: 0.5rem; }

.pad-b-2 {
  padding-bottom: 1rem; }

.pad-b-3 {
  padding-bottom: 1.5rem; }

.pad-b-4 {
  padding-bottom: 2rem; }

.pad-b-5 {
  padding-bottom: 3rem; }

.pad-b-6 {
  padding-bottom: 4.5rem; }

.pad-l-0 {
  padding-left: 0; }

.pad-l-1 {
  padding-left: 0.5rem; }

.pad-l-2 {
  padding-left: 1rem; }

.pad-l-3 {
  padding-left: 1.5rem; }

.pad-l-4 {
  padding-left: 2rem; }

.pad-l-5 {
  padding-left: 3rem; }

.pad-l-6 {
  padding-left: 4.5rem; }

.pad-x-0 {
  padding-left: 0;
  padding-right: 0; }

.pad-x-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.pad-x-2 {
  padding-left: 1rem;
  padding-right: 1rem; }

.pad-x-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.pad-x-4 {
  padding-left: 2rem;
  padding-right: 2rem; }

.pad-x-5 {
  padding-left: 3rem;
  padding-right: 3rem; }

.pad-x-6 {
  padding-left: 4.5rem;
  padding-right: 4.5rem; }

.pad-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.pad-y-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pad-y-2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pad-y-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.pad-y-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pad-y-5 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pad-y-6 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

/* -----------------------------------
text-size
----------------------------------- */
.text-12 {
  font-size: 450%; }

.text-11 {
  font-size: 375%; }

.text-10 {
  font-size: 262.50%; }

.text-9 {
  font-size: 225%; }

h1, .h1, .text-8 {
  font-size: 187.50%; }

h2, .h2, .text-7 {
  font-size: 162.50%; }

h3, .h3, .text-6 {
  font-size: 137.50%; }

h4, .h4, .text-5 {
  font-size: 125%; }

h5, .h5, .text-4 {
  font-size: 112.50%; }

h6, .h6, .text-3 {
  font-size: 100%; }

.text-2 {
  font-size: 87.50%; }

.text-1 {
  font-size: 75%; }

/* -----------------------------------
text formatting
----------------------------------- */
.text-regular {
  font-weight: normal; }

.text-bold {
  font-weight: bold; }

.text-italic {
  font-style: italic; }

.text-caps {
  text-transform: uppercase; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justified; }

/* -----------------------------------
line-height
----------------------------------- */
.lh-1 {
  line-height: 1; }

.lh-11 {
  line-height: 1.1; }

.lh-12 {
  line-height: 1.2; }

.lh-13 {
  line-height: 1.3; }

.lh-14 {
  line-height: 1.4; }

.lh-15 {
  line-height: 1.5; }

.lh-16 {
  line-height: 1.6; }

.lh-17 {
  line-height: 1.7; }

.lh-18 {
  line-height: 1.8; }

.lh-19 {
  line-height: 1.9; }

.lh-2 {
  line-height: 2; }

/* -----------------------------------
home
----------------------------------- */
.home-intro {
  font-size: 29px;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 1.2; }

.home-subheadings {
  font-size: 20px;
  font-family: georgia, times, serif;
  font-style: italic;
  color: #787878;
  font-weight: normal;
  margin: 0 0 .7em; }

.home-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .home-list li {
    padding: 0 0 0 20px;
    margin: 0 0 .7em;
    background: url(../img/bg-bullet.png) no-repeat 0 0.3em; }

@media screen and (min-width: 930px) {
  .home-buttons {
    position: absolute;
    width: 100%; } }
/* -----------------------------------
lists
----------------------------------- */
.bullet {
  margin: 1em 0;
  padding: 0;
  list-style: none; }
  .bullet li {
    padding: 0 0 0 20px;
    margin: 0 0 .7em;
    background: url(../img/bg-bullet.png) no-repeat 0 0.3em; }

/* -----------------------------------
login
----------------------------------- */
.login {
  padding: 4px 0;
  color: #fff; }

.login-description,
.login p {
  display: inline-block;
  margin: 0 10px 0 0; }

.login-username {
  display: inline-block;
  margin-right: 10px; }

.login a {
  color: #fff;
  text-decoration: underline; }

/* -----------------------------------
logo
----------------------------------- */
.logo-main {
  color: #CE3D20;
  font-size: 36px;
  font-weight: 800; }

.logo-secondary {
  color: #787878;
  font-family: georgia, times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 20px; }

.logo-small {
  color: #787878;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  margin: 2px 0 0; }

/* -----------------------------------
nav
----------------------------------- */
.row-nav {
  background: #636363 url(../img/bg-nav.png) repeat-x 0 100%; }

.nav {
  overflow: hidden; }

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  font-family: "Open Sans", helvetica, arial, sans-serif; }

.nav li {
  margin: 0;
  padding: 0;
  line-height: 1; }

.nav a {
  display: block;
  padding: .7em 1rem;
  border-bottom: 1px solid #8EB304;
  color: #fff; }

.nav a:focus {
  background-color: #000;
  text-decoration: none;
  border-bottom: 1px solid #CE3D20; }

.nav a:hover {
  background-color: #4a4a4a;
  text-decoration: none;
  border-bottom: 1px solid #CE3D20; }

.nav a:active {
  background-color: #762312;
  text-decoration: none;
  border-bottom: 1px solid #CE3D20; }

.nav .current-menu-item a {
  border-bottom: 1px solid #CE3D20;
  font-weight: 700; }

.home .nav a.one,
.about .nav a.two,
.rasds .nav a.three,
.download .nav a.four,
.workbooks .nav a.five,
.manual .nav a.six,
.contact .nav a.seven {
  border-bottom: 1px solid #CE3D20;
  font-weight: 700; }

a.mobile_handle, a.down {
  padding: .7em 1.8em .7em 2.2em;
  background-image: url(../img/icon-plus.png);
  background-repeat: no-repeat;
  background-position: 15px 50%;
  font-weight: bold; }

a.mobile_handle {
  background-image: url(../img/icon-plus.png); }

a.down {
  background-image: url(../img/icon-minus.png); }

@media screen and (min-width: 930px) {
  .nav a {
    float: left;
    margin: 0;
    padding: .7rem 1rem;
    color: #fff;
    border-bottom: 5px solid #8EB304; }

  a.mobile_handle {
    display: none; }

  .nav a:focus,
  .nav a:hover,
  .nav a:active,
  .current-menu-item a,
  .home .nav a.one,
  .about .nav a.two,
  .rasds .nav a.three,
  .download .nav a.four,
  .workbooks .nav a.five,
  .manual .nav a.six,
  .contact .nav a.seven {
    border-width: 5px; } }
/* -----------------------------------
rows
----------------------------------- */
.row-white {
  background: #fff; }

.row-light-gray {
  background: #E6E6E6; }

.row-gray {
  background: #636363; }

.row-black {
  background: #000; }

.row-blue {
  background: #204d74; }

.row-light-blue {
  background: #E8F1F1; }

.row-red {
  background: #960000; }

.row-olive {
  background: #A5C237; }

.row-login {
  background: #A0A0A0; }

/* -----------------------------------
skip link
----------------------------------- */
a.skiplink {
  position: absolute;
  left: -1000px;
  z-index: 2;
  margin: 0;
  padding: .5em;
  background: #fff;
  font-weight: bold;
  text-decoration: none; }

a.skiplink:active,
a.skiplink:focus,
a.skiplink:hover {
  display: inline;
  top: 0;
  left: 0;
  color: #fff;
  background: #000; }

/* -----------------------------------
tables
----------------------------------- */
.table-border,
.table-border td,
.table-border th {
  border: 1px solid #ddd; }

.table-border tbody th {
  font-weight: normal; }

.gv-datatables {
  margin: .2em 0 .5em;
  width: 100% !important; }

.gv-datatables td,
.gv-datatables th {
  padding: 7px 0; }

.gv-datatables thead,
.gv-datatables tfoot {
  display: none; }

.dataTables_length,
.dataTables_info,
.dataTables_paginate {
  font-size: 87.5%; }

.dataTables_paginate {
  margin-bottom: 2em; }

.gv-widgets-header h3 {
  margin: 0 0 1em; }

.gv-datatables a {
  padding: 0 0 0 20px;
  background: url(../img/bg-file.png) no-repeat; }

.paginate_button.previous {
  margin-right: 2em; }

.paginate_button.current {
  margin-right: 2em; }

/*# sourceMappingURL=styles.css.map */
