/* -----------------------------------
dashboard
----------------------------------- */

.dataTables_paginate,
.dataTables_info,
.dataTables_length {
  display: none;
}

.fa-ul {
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding: 0;
}

.fa-ul li {
  margin: 0 !important;
  padding: 0 !important;
}

.fa-ul li i {
  display: none;
}

.gv-datatables a,
.gv-field-1-entry_link a {
  display: inline-block;
  padding: 0 0 .2em 20px;
  background: url(../img/bg-file.png) no-repeat;
}

table.dataTable.order-column tbody tr>.sorting_1,
table.dataTable.order-column tbody tr>.sorting_2,
table.dataTable.order-column tbody tr>.sorting_3,
table.dataTable.order-column tbody tr>[class^="sorting"],
table.dataTable.display tbody tr>.sorting_1,
table.dataTable.display tbody tr>.sorting_2,
table.dataTable.display tbody tr>.sorting_3
table.dataTable.display tbody tr>[class^="sorting"] {
  background-color: #fff !important;
  border: 0 !important;
}
