/* -----------------------------------
login
----------------------------------- */

.login {
  padding: 4px 0;
  color: $white;
}

.login-description,
.login p {
  display: inline-block;
  margin: 0 10px 0 0;
}

.login-username {
  display: block;
  margin-right: 0;
}

.login a {
  color: $white;
  text-decoration: underline;
}
