/* -----------------------------------
login
----------------------------------- */

.login {
	padding: 4px 0;
	color: $white;
}

.login-description, .gform_login_widget p {
	display: inline-block;
	margin-right: 10px;
}

.login-username {
	display: inline-block;
	margin-right: 10px;
}

a.login-logout, .gform_login_widget a {
	color: $white;
	text-decoration: underline;
}

.gform_login_widget p {
	display: inline-block;
	margin-right: 10px;
}

.gform_login_widget a {
	color: #FFF;
	text-decoration: underline;
}
