.results-single .results-question {
  width: 58% !important;
}

.results-single .results-score {
  width: 8% !important;
}

.results-single .results-comment {
  width: 34% !important;
}

.results-compare .results-question {
  width: 28% !important;
}

.results-compare .results-score {
  width: 5% !important;
}

.results-compare .results-comment {
  width: 17% !important;
}

.results-comment {
  font-style: italic;
}
