.single-results-question {
  width: 58% !important;
}

.single-results-score {
  width: 8% !important;
}

.single-results-comment {
  width: 34% !important;
}

.compare-results-question {
  width: 28% !important;
}

.compare-results-score {
  width: 5% !important;
}

.compare-results-comment {
  width: 17% !important;
}

.results-comment {
  font-style: italic;
}
