/* -----------------------------------
rows
----------------------------------- */

.row-white { background: #fff; }
.row-light-gray { background: #E6E6E6; }
.row-gray { background: $gray; }
.row-black { background: #000; }
.row-blue { background: #204d74; }
.row-light-blue { background: #E8F1F1; }
.row-red { background: #960000; }
.row-olive { background: $olive-light; }
.row-login { background: #A0A0A0; }
