/* -----------------------------------
save
----------------------------------- */

.gform_wrapper .form_saved_message {
  line-height: 1.4 !important;
  border: 0 !important;
  background-color: lighten($olive-lighter, 10%) !important;
  border-radius: 0 !important;
}

